<nav class="navbar navbar-inverse ">
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="col-sm-12">
      <p-contextMenu [target]="p" styleClass="menuTop"></p-contextMenu>
      <p #p>Menu</p>
    </ul>
  </div>
</nav>

<div class="col-sm-2 " style="display: flex;">
  <div class="sidenav">
    <div class="iconnav " *ngFor="let item of arrayMenu; let i = index">
      <!------------------------------------icon menu----- ------------------------------------>
      <a
        class="{{ item.icon }} "
        style="font-size: 24px; margin: 0 0 10px 0; "
        [ngClass]="isOpen ? 'noneBorder' : 'border'"
        [ngStyle]="item.isActive ? isActiveBorder() : ''"
      >
        <!------------------------------------item menu----------------------------------------->
        <div
          [ngStyle]="mySidenav()"
          (click)="toggleAccordian($event, i); borderItem(item)"
        >
          <p
            *ngIf="item.children?.length == 0"
            class="accordion-null "
            routerLink="{{ item.path }}"
          >
            {{ item.name }}
          </p>
          <p
            *ngIf="item.children?.length != 0"
            class="accordion "
            routerLink="{{ item.path }}"
          >
            {{ item.name }}
          </p>
        </div>
      </a>
      <!------------------------------------sub menu----------------------------------------->
      <div
        *ngFor="let chil of item?.children"
        class="dropdown_container border "
        [@openClose]="item.Active ? 'open' : 'closed'"
        [@btnOpen]="isOpen ? 'open' : 'closed'"
        (click)="borderChildren(chil)"
        [ngStyle]="chil.isActive ? isActiveBorder() : ''"
      >
        <a
          style="margin: 10px 0 5px 0; padding: 1px 15px "
          routerLink="/{{ chil.path }}"
        >
          {{ chil.name }}
        </a>
      </div>
    </div>
  </div>
  <button
    (click)="toggleOpenNav($event, (isOpen = !isOpen))"
    class="btn_openNav pi "
  ></button>
  <app-breadcrumb></app-breadcrumb>
  <router-outlet></router-outlet>
</div>
