/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  margin-top: 90px;
  margin-left: 10px;
  border: #d6d3d3 1px solid;
}

.sidenav a {
  padding: 8px;
  font-size: 18px;
  color: #1d1f21;
  display: block;
  text-decoration: none;
}

/*------------------------- dropdown menu ------------------*/
.dropdown_container {
  background-color: white;
  text-align: left;
  margin: 0px 0 0 6px;
  overflow: hidden;
  width: 170px;
}
.active:after {
  transform: rotate(180deg);
}

.accordion {
  background-color: #fff;
  cursor: pointer;
  padding-top: 8px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  margin: 5px;
}
.accordion-null {
  background-color: #fff;
  cursor: pointer;
  padding-top: 8px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  margin: 5px;
}
.accordion:after {
  content: "\e902";
  float: right;
  margin-left: 5px;
  transition: transform 0.5s;
}
:host::ng-deep.pi {
  font-family: "primeicons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dr-el {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 90px;
}

.iconnav {
  width: auto;
  height: auto;
}

/*---------------------button---------------------------*/
.btn_openNav {
  cursor: pointer;
  height: 80px;
  width: auto;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  border: #d6d3d3 1px solid;
  margin-left: 30px;
  padding: 5px;
  transition: margin-left 0.5s;
}
.btn_openNav::before {
  content: "\e901";

  transform: rotate(180deg);
}
.btn_active {
  margin-left: 220px;
  transition: margin-left 0.5s;
  transform: rotate(180deg);
}

#mySidenav {
  transition: 0.5s;
  width: 0;
}
