/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  margin-top: 90px;
  border: #d6d3d3 1px solid;
}

.sidenav a {
  padding: 8px 15px 8px 15px;
  font-size: 18px;
  color: #444444;
  display: inline-flex;
  text-decoration: none;
}

.iconnav {
  margin-top: 30px;
}

/*------------------------- dropdown menu ------------------*/
.dropdown_container {
  background-color: white;
  text-align: left;
  overflow: hidden;
  width: auto;
  padding-left: 35px;
  color: #444444;
  width: auto;
}
.active:after {
  transform: rotate(180deg);
}

.accordion {
  background-color: #fff;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  width: 230px;
  margin: 3px 5px 5px 15px;
  color: #444444;
}
.accordion-null {
  background-color: #fff;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  width: 230px;
  margin: 3px 5px 5px 15px;
  color: #444444;
}
.accordion-null {
  background-color: #fff;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  width: 230px;
  margin: 3px 5px 5px 15px;
  color: #444444;
}
.accordion:after {
  content: "\e902";
  float: right;
  margin-left: 5px;
  transition: transform 0.5s;
}

.active:after {
  transform: rotate(180deg);
}

:host::ng-deep.pi {
  font-family: "primeicons", Arial, sans-serif;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 90px;
}

/*---------------------button---------------------------*/
.btn_openNav {
  cursor: pointer;
  height: 70px;
  width: auto;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  border: #d6d3d3 1px solid;

  margin-left: 44px;
  padding: 3px;

  transition: margin-left 0.5s;
}
.btn_openNav::before {
  content: "\e901";
  transform: rotate(180deg);
}
.btn_active {
  margin-left: 294px;
  transition: margin-left 0.5s;
  transform: rotate(180deg);
}

#mySidenav {
  transition: 0.5s;
  width: 0;
}

/*--------------------- hover border --------------------------------*/
.border {
  border-left: 5px solid white;
}
.border:hover {
  border-left: 5px solid #fe008f;
  background-color: rgba(236, 234, 234, 0.719);
  font-weight: bold;
}
.noneBorder {
  border-left: 5px solid white;
}
